/* Mulish & Inter fonts from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

/* Shared Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    /* min-height: 300px; */
    margin: 0 auto;
    background-color: #FFF;
}

.sec-top {
    margin-top: 100px;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}

.main-des {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    margin-top: 24px;
    line-height: 1.625rem;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF5400;
    cursor: pointer;
    border: 0;
    font-weight: 800;
}


/* header styles */

/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.nav-left {
    display: flex;
    width: 53%;
    align-items: center;
    gap: 10px;
}

.nav-right {
    display: flex;
    width: 43%;
    justify-content: space-between;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}

.special {
    color: #FF5400;
}

.nav-right>a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: #424247;
}

#active {
    color: #FF5400;
    font-weight: 700;
}

/* Banner styles */

#banner {
    background: rgba(0, 0, 0, 0.4) url('../images/Group-13.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    border-radius: 10px;
}

.banner-content {
    color: #FFF;
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
}

#banner p {
    padding: 24px 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}

#banner form {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
    margin-top: 16px;
}

#banner form input,
#banner form select,
#banner form button {
    width: 25%;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

#banner form input,
#banner form select {
    padding-left: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
}

#banner form button {
    background-color: #FF5400;
    color: #FFF;
    border-radius: 8px;
    font-weight: 700;
}

/* Main Section Styles Start*/

/* Popular Tours styles */
.popular-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-container {
    width: 48%;
}

.text-container {
    width: 48%;
    padding-right: 20px;
}

.img-container img {
    width: 100%;
    height: 100%;
    max-height: 550px;
    max-width: 580px;
}

.popular-list, .simple-list {
    margin-left: 18px;
}

.popular-list li {
    margin-top: 16px;
}

.popular-btn {
    margin-top: 28px;
    padding: 15px 35px;
}

/* Destation section styles */

.destination-content,
.deals-content,
.choose-content {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.destination-grid {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.grid{
    position: relative;
    text-align: center;
}

.grid-text{
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.destination-grid .grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.destination-grid .grid-item-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.destination-grid .grid-item-3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.destination-grid .grid-item-4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}

.destination-grid .grid-item-5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}

.destination-grid .grid-item-6 {
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}

.destination-grid .grid-item-7 {
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}

.destination-grid img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 16px;
    object-fit: cover;
}

/* Why choose us styles */

.choose-content .main-des {
    margin-bottom: 48px;
}

.card-container {
    border-radius: 16px;
}

.card-container .row-1 {
    display: flex;
    gap: 24px;
}

.card-container .row-2 {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.card-item {
    width: 50%;
    padding: 32px 50px 32px 32px;
}

.card-item img {
    width: 64px;
    height: 64px;
}

.deals-banner-container .deals-title,
.card-item .card-title,
.newsletter-form .news-title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
    margin-top: 28px;
}

.deals-banner-container .deals-des,
.card-item .card-des,
.newsletter-form .news-des {
    margin-top: 16px;
    color: #5A5A5D;
    font-weight: 400;
    font-size: 1rem;
}

.card-container .card-item-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-container .card-item-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-container .card-item-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Deals styles */
.deals-banner-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deals-banner {
    width: 100%;
    position: relative;
}

.deals-banner .back-img {
    width: 100%;
}

.deals-content .main-des {
    margin-bottom: 48px;
}

.deals-div {
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    max-width: 580px;
    position: absolute;
    right: 60px;
    top: 60px;
}

.deals-div-2 {
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    max-width: 580px;
    position: absolute;
    left: 60px;
    top: 60px;
}

.deals-div .deals-top,
.deals-div-2 .deals-top {
    display: flex;
    gap: 24px;
}

.deals-top i {
    color: #FF5400;
}

.deals-price {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 16px;
}

.deals-btn {
    padding: 15px 25px;
    margin-top: 24px;
    margin-bottom: 65px;
}

.deals-des {
    padding-right: 70px;
}

.deals-last-btn {
    display: flex;
    justify-content: center;
}

.deals-last-btn .last-btn {
    padding: 15px 22px;
    margin-top: 24px;
}

/* simple place style */
.video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #000;
}

.simple-list{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
}

/* Newsletter Styles */
.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.newsletter-form {
    width: 40%;
    border: 1px solid red;
    padding: 40px;
    border-radius: 15px;
}

.newsletter-img {
    width: 60%;
    position: relative;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.discount-tag {
    text-align: center;
    padding: 20px 50px;
    background-color: #FF5400;
    color: #FFF;
    position: absolute;
    bottom: 50px;
    right: 15px;
    transform: rotate(-17deg);
    border-radius: 10px;
}

.discount-tag .dis-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.discount-tag .dis-description {
    font-size: 2rem;
    font-weight: 800;
}

.newsletter input {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.30);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: none;
    background-color: rgba(19, 19, 24, 0.05);
    ;
}

.newsletter-btn {
    padding: 15px;
    width: 100%;
}

.newsletter-hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    height: 0;
    border: 1px solid rgba(19, 19, 24, 0.10);
}

/* Footer Styles */
footer {
    background-color: rgba(19, 19, 24, 0.05);
}

.footer-container {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

.footer-top {
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-img {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-img img {
    width: 24px;
    height: 24px;
}

footer .footer-title {
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}

.footer-des {
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
    margin-top: 15px;
    margin-bottom: 32px;
}

.footer-hr {
    margin: 50px 0;
    border: 0;
    height: 0;
    border: 1px solid rgba(19, 19, 24, 0.10);
}

.lowest {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 110px;
}

.hide {
    display: none;
}

/* Responsive for mobile */

@media only screen and (max-width: 576px) {
    .container {
        width: 95%;
    }

    #banner form {
        flex-direction: column;
        margin-left: 24px;
        margin-right: 24px;
    }

    .banner-title {
        padding-top: 30px;
        font-size: 1.375rem;
    }

    #banner p {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    #banner form input,
    #banner form select,
    #banner form button {
        width: 100%;
        font-size: 1rem;
        border-radius: 5px;
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }

    .nav-right {
        display: none;
    }

    .nav-title {
        font-size: 1.3rem;
    }

    .nav-left img {
        width: 30px;
        height: 34px;
    }

    .nav-mob {
        display: inline;
    }

    .nav-mob i {
        width: 24px;
        height: 24px;
    }

    /* main section */
    .main-title {
        font-size: 1.25rem;
    }

    .popular-container {
        flex-direction: column;
    }

    .img-container {
        width: 100%;
    }

    .text-container {
        width: 100%;
        padding-right: 5px;
    }

    .sec-top {
        margin-top: 24px;
    }

    .main-des {
        font-size: 0.875rem;
        margin-top: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .popular-btn {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .destination-grid {
        margin-top: 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 16px;
    }


    .destination-grid .grid-item-1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .destination-grid .grid-item-2 {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }

    .destination-grid .grid-item-3 {
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }

    .destination-grid .grid-item-4 {
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }

    .destination-grid .grid-item-5 {
        grid-column: 1/span 1;
        grid-row: 5/span 1;
    }

    .destination-grid .grid-item-6 {
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }

    .destination-grid .grid-item-7 {
        grid-column: 1/span 1;
        grid-row: 7/span 1;
    }

    .choose-content .main-des {
        margin-bottom: 16px;
    }

    .card-container .row-1 {
        flex-direction: column;
        gap: 16px;
    }

    .card-item {
        width: 100%;
    }

    .deals-content .main-des {
        margin-bottom: 16px;
    }

    .back-img {
        height: 500px;
    }

    .deals-div, .deals-div-2 {
        padding-left: 40px;
        padding-top: 26px;
        max-width: 370px;
        position: absolute;
        top: 90px;
        left: 95px;
    }

    .deals-div .deals-top,
    .deals-div-2 .deals-top {
        flex-wrap: wrap;
        gap: 20px;
    }

    .deals-des {
        padding-right: 10px;
    }

    .deals-banner-container .deals-title, .card-item .card-title, .newsletter-form .news-title {
        margin-top: 18px;
    }
    .deals-btn{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .last-btn{
        display: none;
    }

    .newsletter {
        flex-direction: column;
        gap: 16px;
    }

    .newsletter-form,
    .newsletter-img {
        width: 100%;
    }
   
    .discount-tag {
        padding: 10px;
        position: absolute;
        bottom: 35px;
        right: 13px;
        transform: rotate(-17deg);
        border-radius: 5px;
    }
    
    .discount-tag .dis-title {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .discount-tag .dis-description {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .footer-top {
        padding-top: 30px;
    }
    .footer-des{
        padding-left: 45px;
        padding-right: 45px;
        margin-bottom: 16px;

    }
    .footer .footer-title {
        font-size: 1.25rem;
    }
    .footer-hr{
        margin: 24px 0;
    }
    .lowest {
        font-size: 0.8rem;
        padding-bottom: 30px;
    }
    .social-img {
        gap: 35px;
    }

}